body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: black; /* Black background */
    font-family: Arial, sans-serif;
    color: #ffff33; /* Neon yellow text */
}

.image-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black; /* Black background */
    padding: 20px 0;
    position: relative;
}

.inner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    animation: fadeIn 1s ease-in-out;
}

.inner-container img {
    max-width: 220px;
    height: auto;
    display: block;
    margin: 0 20px;
    transition: transform 0.3s ease;
}

.inner-container img:hover {
    transform: scale(1.1);
}

.left-buttons,
.right-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left-buttons button,
.right-buttons button {
    margin: 0 20px;
    padding: 15px 50px;
    font-size: 15px;
    color: white;
    background-color: black;
    cursor: pointer;
    border: 2px solid white;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.left-buttons button:hover,
.right-buttons button:hover {
    background-color: #555555; /* Darker grey on hover */
    color: #ffff33; /* Neon yellow text */
    transform: scale(1.1);
}

.calendar-section {
    width: 80%;
    max-width: 800px;
    background-color: black; /* Black background */
    color: #ffff33; /* Neon yellow text */
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensure spacing between elements */
}

footer {
    width: 100%;
    background-color: black; /* Black background */
    color: #33ccff; /* Neon blue text */
    text-align: center;
    padding: 20px;
    position: relative;
}

.event {
    background-color: #333333; /* Dark grey background */
    color: #ffff33; /* Neon yellow text */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
